<!doctype html>
<html>
<head>
    <title>{% block title %}Blog{% endblock %}</title>
    {% block javascripts %}
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    {% endblock %}
    <link href="{{ asset('../skin/dist/css/bootstrap.css') }}" rel="stylesheet">
</head>
<body class="{{ app.request.get('_route') }} {% block additional_class %}{% endblock %}">
    <div id="header">
        <a class="back gl-orange" href="{{ app.url_generator.generate('index') }}">Revenir à l'accueil</a>
        {% block top %}
        {% endblock top %}
    </div>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>