<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>Christmas Party Homme – Galeries Lafayette Paris Haussmann</title>
    <style type="text/css">
        @font-face {
            font-family: 'GLBaderJ';
            src: url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Regular.eot');
            src: url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Regular.eot?#iefix') format('embedded-opentype'),
            url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Regular.woff') format('woff'),
            url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Regular.woff2') format('woff2'),
            url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Regular.ttf') format('truetype'),
            url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Regular.svg#glbladerj') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'GLBaderJ';
            src: url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Bold.eot');
            src: url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Bold.eot?#iefix') format('embedded-opentype'),
            url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Bold.woff') format('woff'),
            url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Bold.woff2') format('woff2'),
            url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Bold.ttf') format('truetype'),
            url('http://socialprinter.preprod.disko.fr/skin/fonts/GLBaderJ/GLBaderJ-Bold.svg#glbladerj') format('svg');
            font-weight: bold;
            font-style: normal;
        }
    </style>
</head>
<body>
<p style="text-align: center;font-family: GLBaderJ, arial, sans-serif">Bonjour,<br/>
    <br/>
    Nous vous remercions de votre venue à la Christmas Party Homme des Galeries Lafayette Paris Haussmann.<br/><br/>
    N’hésitez pas à partager votre logo personnalisé sur
    <a href="http://instagram.com/galerieslafayette" target="_blank" style="color: #e29967;">Instagram</a>,
    <a href="https://www.facebook.com/galerieslafayette" target="_blank" style="color: #e29967;">Facebook</a> ou
    <a href="https://twitter.com/Galeries_Laf" target="_blank" style="color: #e29967;">Twitter</a> accompagné du hashtag #NoelauxGL.<br/><br/>
    A bientôt dans votre magasin <a href="http://www.galerieslafayette.com/" target="_blank" style="color: #e29967;">Galeries Lafayette Paris Haussmann</a> !<br/>
</p>
</body>