{% extends 'base.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <p>Personnalisez votre T-shirt<br/>
        grâce aux <span class="gl-orange">3 couleurs dominantes de vos photos Instagram</span>.<br/>
        C'est rapide, c'est fun et c'est cadeau !
        <a class="btn" href="{{ loginUrl }}" role="button">Se connecter avec Instagram</a><br/>
        <a class="alert-link" href="{{ app.url_generator.generate('choose-logo') }}">Je n'ai pas de compte Instagram</a>
    </p>
    <script>
        $('body').append('<div style="display:none">' +
            '<img src="http://instagram.com/accounts/logout/" width="0" height="0" />' +
            '</div>'
        );
    </script>
{% endblock %}
