{% extends 'base.twig' %}
{% block body %}
    <h1>Instagram <span>display your photo stream</span></h1>
    <div class="main">
        <ul class="grid">
            <li>
                <a class="login" href="{{ loginUrl }}">Login with Instagram</a>
                <a class="alternative" href="{{ app.url_generator.generate('choose-logo') }}">no account</a>
            </li>
        </ul>
    </div>
    <script>
        $('body').append('<div style="display:none">' +
            '<img src="http://instagram.com/accounts/logout/" width="0" height="0" />' +
            '</div>'
        );
    </script>
{% endblock %}
