{% extends 'base.twig' %}
{% block title %}Votre profil en couleurs{% endblock %}

{% block top %}
    <h1>Votre profil <span class="gl-orange">en couleurs</span></h1>
    <div>Découvrez les palettes couleurs de vos photos Instagram</div>
{% endblock %}

{% block content %}
    <ul class="photo-list">
    {% for media in medias %}
        <li class="photo-insta">
            <img src="{{ media.images.low_resolution.url }}"/>
            <div class="colors">
            {% for color in media.colors %}
                <span style="background-color: rgb({{ color }})"></span>
            {% endfor %}
            </div>
        </li>
    {% endfor %}
    </ul>
    <script>
        var delay = 5000;
        setTimeout(function(){ window.location = '{{ app.url_generator.generate('choose-logo') }}'; }, delay);
    </script>
{% endblock %}