{% extends 'base.twig' %}

{% if form is defined %}
    {% form_theme form 'form/fields.twig' %}
{% endif %}

{% block title %}Votre logo{% endblock %}

{% block top %}
    <h1>Votre <span class="gl-orange">logo</span></h1>
    <div>Et voilà ! Vous pouvez maintenant imprimer le logo qui vous correspond</div>
{% endblock %}

{% block content %}
    <div class="left-block">
        {% if colors is empty %}
            <img src="{{ app.request.baseUrl }}/images/logo-{{ id }}.png"/>
        {% else %}
            {% include 'logo/generate-canvas.twig' %}
            {% include 'logo/draw.twig' %}
            {% include 'logo/create-file.twig' %}
        {% endif %}
        <div class="size-select">
            <span>S</span>
            <span>M</span>
            <span>L</span>
        </div>
    </div>
    <div class="right-block">
        <h2><span>Satisfait ?</span></h2>
        {{ form(form, {'action': path('print-it', {'id': id  }), 'method': 'POST'}) }}
    </div>

    <script>
        var radios = $('input:radio[name="form[size]"]');
        $('#form_validate').click(function () {
            if (!radios.is(':checked')) {
                $('.size-select span').addClass('error');
                return false;
            }
        });

        $('.size-select span').click(function () {
            $('.size-select span').removeClass('error');
            $('.size-select span').fadeTo(100, 0.5);
            $(this).fadeTo(100, 1);

            var size = $(this).text().toLowerCase();
            radios.filter('[value=' + size + ']').prop('checked', true);
        });
    </script>
{% endblock %}