{% extends 'base.twig' %}
{% block body %}
    <h1>Instagram <span>display your photo stream</span></h1>
    <div class="main">
        <ul class="grid">
            <li>
                <a class="logout" href="{{ app.url_generator.generate('index') }}">Logout</a>
            </li>
        </ul>
    </div>
{% endblock %}