<div id="logo_{{ id }}" class="logo" style="position: relative; ">
    <canvas class="canvas-a" data-color="{{ colors.0 }}" width="1124" height="1405" style="display: none"></canvas>
    <canvas class="canvas-b" data-color="{{ colors.1 }}" width="1124" height="1405" style="display: none"></canvas>
    <canvas class="canvas-c" data-color="{{ colors.2 }}" width="1124" height="1405" style="display: none"></canvas>
    <canvas class="final-canvas" width="1123" height="1404"></canvas>
</div>