<div id="logo_{{ id }}" class="logo" style="position: relative; height: 1500px ">
    <canvas class="canvasA" data-color="{{ colors.0 }}" width="1124" height="1405" style="display: none"></canvas>
    <canvas class="canvasB" data-color="{{ colors.1 }}" width="1124" height="1405" style="display: none"></canvas>
    <canvas class="canvasC" data-color="{{ colors.2 }}" width="1124" height="1405" style="display: none"></canvas>
    <canvas class="finalCanvas" width="1123" height="1404"></canvas>
</div>