{% extends 'base.html.twig' %}
{% block title %}liste picto TODO{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        .finalCanvas {
            width: 20%;
        }
    </style>
{% endblock %}
{% block body %}
        <div class="main">
            {% for id, colors in dominantColors %}
                <a href="{{ app.url_generator.generate('print-it', {'id': id  }) }}">
                    {% include 'canvas-picto.html.twig' %}
                </a>
            {% endfor %}
            {% include 'draw-picto.js.twig' %}
        </div>
{% endblock %}